body {
	background-color: lightpink;
}

.form-check-inline {
	display: inline-block;
	margin-right: 10px;
}

#otherText {
	display: none;
	margin-top: 5px;
}

#flexCheckOther:checked+.form-check-inline #otherText {
	display: inline-block;
}

#site-heading {
	font-size: 80px;
	font-weight: bold;
	display: inline-block;
}

.add-class {
	background-image:
		url("https://images.squarespace-cdn.com/content/v1/650220f55ddff27452d1174d/3b3a1598-8358-421f-8f54-27719c09c4d7/FullSizeRender.jpeg?format=300w");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.table-background {
	background-color: lightpink;
	table-cell: lightpink;
}


.d-flex {
	display: flex;
	flex-wrap: wrap; 
	gap: 15px; 
}


.instructor-item {
	display: flex;
	flex-direction: column; 
	align-items: right; 
	text-align: right; 
}


.instructor-item label {
	display: flex;
	align-items: right; 
	justify-content: right; 
	margin-top: 5px; 
}

.instructor-item img {
	width: 100px;
	height: auto;
	margin-bottom: 5px;
}


.instructor-item input {
	margin-right: 5px; 
}

.table-dark {
	text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-page {
    height: 100vh;
    background-image: url("https://images.squarespace-cdn.com/content/v1/650220f55ddff27452d1174d/5a364b1c-042a-4c39-88b0-0610a572396a/dance+team.jpg?format=500w");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.nav-item {
	color: black;
}

.class-info{
	font-size: 60px;
}
