body {
	background-color: lightpink;
}

.form-check-inline {
	display: inline-block;
	margin-right: 10px;
}

#otherText {
	display: none;
	margin-top: 5px;
}

#flexCheckOther:checked + .form-check-inline #otherText {
  display: inline-block;
}